{% extends 'base.html.twig' %}

{% block title %}Hello RecipeController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/recipe.css') }}">
{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1> Créer votre recette </h1>

    {{ form_start(form) }}
    {{ form_row(form.recipeName, {'label': 'Nom de la recette'}) }}
    {{ form_row(form.duration, {'label': 'Durée de préparation'}) }}

    <label class="form-label required">Ingredients</label>
    <ul class="ingredients"
        data-index="{{ form.ingredients|length > 0 ? form.ingredients|last.vars.name + 1 : 0 }}"
        data-prototype="{{ form_widget(form.ingredients.vars.prototype)|e('html_attr') }}"
    >
        {% for ingredient in form.ingredients %}
            <li>
                {{ form_row(ingredient.ingredientName, {'label': 'Nom de l\'ingrédient'}) }}
                {{ form_row(ingredient.quantity, {'label': 'Quantité'}) }}
            </li>
        {% endfor %}
    </ul>
    <button type="button" class="add_item_link" data-collection-holder-class="ingredients">Ajouter un ingrédient</button>

    {{ form_row(form.description, {'label': 'Description', 'attr': {'class': 'form-control'}}) }}

    <button type="submit">Créer la recette</button>

{# {{ form_end(form, {'render_rest': false}) }} #}
{{ form_end(form) }}

</div>


<script>
const addFormToCollection = (e) => {
  const collectionHolder = document.querySelector('.' + e.currentTarget.dataset.collectionHolderClass);

  const item = document.createElement('li');

  item.innerHTML = collectionHolder
    .dataset
    .prototype
    .replace(
      /__name__/g,
      collectionHolder.dataset.index
    );


    collectionHolder.appendChild(item);

    const removeFormButton = document.createElement('button');
    removeFormButton.innerText = 'Delete';

    item.append(removeFormButton);

  collectionHolder.dataset.index++;
  console.log(addFormToCollection)
};

document
  .querySelectorAll('.add_item_link')
  .forEach(btn => {
      btn.addEventListener("click", addFormToCollection)
  });

</script>
{% endblock %}